<form class="form" id="{{ form_id }}" action="{{ form_action }}" method="post">
    {% csrf_token %}

    {% if form.errors %}
    <div class="errors">
        <p>Please correct the following errors:</p>
        {% for field in form %}
        {% if field.errors %}
        <div class="error" role="alert">
            <b>{{ field.label }}:</b> {{ field.errors|striptags }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% for field in form %}
    <div class="col {{ field.name }}">
        <label>
            <h5>{{ field.label }}</h5>
            {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
            {{ field }}
        </label>
    </div>
    {% endfor %}

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% endif %}

    <div class="text-center">
        <button class="btn" type="submit">{{ button_text }}</button>
    </div>
</form>